@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');


    /*universal styles*/
 body, html {
    height: 100%;
    margin: 0;
    font-family: 'Assistant', sans-serif;
    color: #004643;
    font-weight: 500;
  }

  .parallax { 
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*styling the info sections*/
  main, section {
    background-color:  #faf5d9; 
    border-bottom: 3px solid #bd8ac2;
    
  }

  main{
    padding-top: 50px; 
    text-align: center;
    padding: 5%;
  }

  /*flex layout*/
  .two-column {
    display:flex;
    flex-direction:row;
    
  }

  .two-column div{
    flex: 1;
    display:flex;
   justify-content:center;
   align-items:center;
  }

  
 


  
  /*Landing page styles*/
  h1 {
    margin: 0;
    font-family: 'Titan One', cursive;
    text-align: center;
    font-size: 5rem;
    color: #bd8ac2;
  }

  h2{
    margin: 0;
    font-family: 'Titan One', cursive;
    text-align: center;
    padding-top: 100px;
    font-size: 2rem;
    color: #bd8ac2;
  }

  h4{
    font-size: 28px;
    text-decoration: underline;
  }

  span{
    margin-bottom: 10%;
    margin-left: 2%;
    font-size: 1.5rem;
  }

  nav{
    font-family: 'Titan One', cursive;
    
  }

  nav ul{
    list-style-type: none;
    margin-top: 5%;
  }


   li a{
    color: #004643;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: none;
  }

  li a:hover{
    color:  #86628a;
    text-decoration: line-through;
  }
  

  /*about section*/

  #certificationList{
    list-style-type: none;
  }

  /*socials list */
  #socialIcons{
    list-style-type: none;
    display: flex;
   
  }

  #socialIcons li{
    margin: 0 auto;
    padding: 0 .2rem;;
  }


  /*projects menu*/
#projects{
  padding: 10% auto;
  border-bottom: 3px solid #bd8ac2;
  border-top: 3px solid #bd8ac2;
  text-align: center;
}

#projects h3{
  font-size: 2em;
}

#projectsMenu {
  padding: 5% 0;
  list-style-type: none;
 
}




  /*projects*/
  .project{
    padding: 10% 2%;
    border-bottom: 3px solid #bd8ac2;
    border-top: 3px solid #bd8ac2;
    text-align: center;
  }

  .project h3{
    font-weight: 800;
  }

  .project img{
    max-width: 100%;
    border-radius: 9px;
  }

  .project a{
    color:#f1e394;
    background-color: #004643;opacity: .7;
    padding: 4px 8px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: -5px 6px 15px -8px rgba(0,0,0,0.75);
  }

  .project a:hover{
    color:#86628a;
    text-decoration: line-through;
  }

  .cTA{
    font-weight: 500;
  }



  /*Contact Form*/
  form{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }

  input{
    width: 20%;
   
  }

  textarea{
    width: 40%;
  }

  input[type=submit]{
    margin-top: 2%;
  }
 



    /*background filler images for each section*/
    .img1 {
      background-image: url(images/landingbackground.png);
     
     
    }
    
    .img2 { 
      background-image: url(images/filler1.png);  
     
    }
  
    .img3{
      background-image: url(images/filler2.png);
    }
  
    .img4{
      background-image: url(images/filler3.png);
    }
  
    .img5{
      background-image: url(images/filler4.png);
    }
  
    .img6{
      background-image: url(images/filler5.png);
    }
  
    .img7{
      background-image: url(images/filler1.png);
    }
  
    .img8{
      background-image: url(images/filler2.png);
    }
  
    .img9{
      background-image: url(images/filler3.png);
    }
  
    .footer{
      background-image: url(images/footerbackgroun.png);
    }

  /*media Queries*/
  @media only screen and ((min-width: 360px) and (max-width: 780px)) {
    p, #certificationList, h4{
      text-align: left;
    }
    
    span{
      margin-top: 2%;
    }
    .two-column {
      flex-direction:column;
      text-align: center;
    }

    #navbar{
      margin-top:20px;
      
    }

    #navbar li a{
      padding: 0 2%;
    }

    #projectsMenu li a{
      margin-top: 2%;
      font-size: 1.65rem;
      padding: 5% 0;
    }

    .footer{
      background-color: #faf5d9;
      background-image: url(images/footerbackgrounsm.png);
      background-size: contain;
      }

    .parallax { 
      /* Full height */
      max-height: 100%; 
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center ;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(images/filler1sm.png);
    }

    /*background filler images for each section*/
    .img1 {
        background-color:#f1e394;
        background-image:url(images/landingbackgroundsm.png);
        background-size: contain;
         
      }
        
        
  
    
      

  }

  @media only screen and (max-width: 786px){
    p, #certificationList, h4{
      text-align: left;
    }
    .parallax { 
      /* Full height */
      max-height: 100%; 
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center ;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .two-column {
      flex-direction:column;
    }
    form{
      margin: 0 5%;
    }
    
  input{
    width: 100%;
   
  }

  textarea{
    width: 100%;
  }

 

  }

  @media only screen and (max-width: 1024px){
    p, #certificationList, h4{
      text-align: left;
    }
    .parallax { 
      /* Full height */
      max-width: 100%; 
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .two-column {
      flex-direction:column;
    }

    form{
      margin: 0 5%;
    }
    input{
      width: 80%;
     
    }
  
    textarea{
      width: 80%;
    }
  }
  
  
  

  

 

 
  





